@font-face {
    font-family:'HelveticaNeue';
    src:url('../fonts/HelveticaNeue.eot');
    src:url('../fonts/HelveticaNeue?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue.woff') format('woff'),
        url('../fonts/HelveticaNeue.ttf') format('truetype'),
        url('../fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue';
    src:url('../fonts/HelveticaNeue-Medium.eot');
    src:url('../fonts/HelveticaNeue-Medium?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue';
    src:url('../fonts/helveticaneuebold.eot');
    src:url('../fonts/helveticaneuebold?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuebold.woff') format('woff'),
        url('../fonts/helveticaneuebold.ttf') format('truetype'),
        url('../fonts/helveticaneuebold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue';
    src:url('../fonts/helveticaneuelight.eot');
    src:url('../fonts/helveticaneuelight?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuelight.woff') format('woff'),
        url('../fonts/helveticaneuelight.ttf') format('truetype'),
        url('../fonts/helveticaneuelight.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue';
    src:url('../fonts/helveticaneue-thin-webfont.eot');
    src:url('../fonts/helveticaneue-thin-webfont?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneue-thin-webfont.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:'HelveticaNeue';
    src:url('../fonts/helveticaneue-black-webfont.eot');
    src:url('../fonts/helveticaneue-black-webfont?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneue-black-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-black-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneue-black-webfont.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
body {
    margin:0;
    color:#666;
    font:14px/20px 'HelveticaNeue', Arial, Helvetica, sans-serif;
    background: url(../images/bg-page.png)  no-repeat 100% 0;
    border-top: 5px solid #378a13;
}
img {border-style:none;}
a {
    text-decoration:none;
    color:#41a416;
    outline:none;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select {
    font:100% Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#666;
    outline:none;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}
input::-moz-focus-inner {
    border:0;
    padding:0;
}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
#wrapper {
    width: 100%;
    overflow: hidden;
    padding: 11px 0 0;
}
#header {
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 0 0 7px;
}
.nav-holder {
    width: 100%;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    background: #424242;
    border-bottom: 4px solid #378a13;
    margin: 0 0 31px;
}
#nav {
    float: left;
    padding: 18px 0 0 15px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    float: left;
    padding: 0 15px;
}
#nav a {color: #fff;}
#nav a:hover {
    text-decoration: none;
    color: #ccc;
}
#nav .active a {color: #46a91b;}
.btn-request {
    float: right;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background:#8ed260 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlZDI2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MWE0MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #8ed260 0%, #41a416 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed260), color-stop(100%,#41a416));
    background: -webkit-linear-gradient(top,  #8ed260 0%,#41a416 100%);
    background: -o-linear-gradient(top,  #8ed260 0%,#41a416 100%);
    background: -ms-linear-gradient(top,  #8ed260 0%,#41a416 100%);
    background: linear-gradient(to bottom,  #8ed260 0%,#41a416 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed260', endColorstr='#41a416',GradientType=0 );
}
.btn-request span {
    padding: 17px 10px 16px;
    min-width: 170px;
    display: block;
}
.btn-request:hover {text-decoration: none;}
.btn-request:hover span {background: url(../images/bg-btn.png)  no-repeat 50% 100%;}
.head-info {
    width: 100%;
    overflow: hidden;
}
.logo {
    float: left;
    background: url(../images/logo.png)  no-repeat;
    width: 412px;
    height: 35px;
    text-indent: -9999px;
    overflow: hidden;
}
.logo a {
    display: block;
    height: 100%;
}
.contacts-block {
    float: right;
    margin: 6px 0 0;
}
.mail {
    float: left;
    background: url(../images/sprite.png)  no-repeat -226px 0;
    font-size: 12px;
    line-height: 24px;
    padding: 0 0 0 30px;
    color: #41a416;
}
.tel {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #666;
    float: left;
    margin: 0 0 0 47px;
    background: url(../images/sprite.png)  no-repeat -204px -26px;
    padding: 0 0 0 30px;
}
.content {
    width:100%;
    overflow: hidden;
}
.visual-block-holder:after {
    content:'';
    background: url(../images/mask-visual-block.png)  no-repeat;
    width: 1063px;
    height: 92px;
    position: absolute;
    bottom: 31px;
    left: 0;
}
.visual-block-holder:before {
    content:'';
    background: url(../images/shadow-visual-block.png)  no-repeat;
    width: 1063px;
    height: 459px;
    position: absolute;
    top: 10px;
    left: -45px;
}
.visual-block-holder {
    width: 960px;
    height: 509px;
    margin: 0 auto;
    position: relative;
}
.visual-block {
    width: 100%;
    height: 394px;
    padding: 25px 0 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.visual-block-holder .man {
    position: absolute;
    top: 25px;
    left: 232px;
}
.visual-block-holder .bg-clouds {
    position: absolute;
    top: -166px;
    left: -224px;
}
.visual-block .bg-mountain {
    position: absolute;
    top: 25px;
    left: -112px;
}
.visual-block .bg-eagle {
    position: absolute;
    top: 0;
    right: 170px;
}
.intro-text {
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    color: #333;
    top: 45px;
    right: 43px;
    width: 280px;
}
.intro-text p {margin: 0;}
.achievements-list {
    margin:-50px auto 10px;
    padding:0;
    position: relative;
    z-index: 3;
    list-style:none;
    overflow: hidden;
    font-size: 12px;
    width: 960px;
    line-height: 18px;
    font-weight: 300;
}
.achievements-list li {
    float: left;
    padding: 78px 2px 0;
    width: 154px;
    position: relative;
    text-align: center;
}
.achievements-list li:after {
    content:'';
    background:#fff;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 5px rgba(255,255,255,.41);
    position: absolute;
    border-radius:50%;
    top: 5px;
    left: 50%;
    margin: 0 0 0 -30px
}
.achievements-list .establishment:after {background:#fff url(../images/bg-establishment.png)  no-repeat 50% 50%;}
.achievements-list .employees:after {background:#fff url(../images/bg-employees.png)  no-repeat 50% 50%;}
.achievements-list .projects:after {background:#fff url(../images/bg-projects.png)  no-repeat 50% 50%;}
.achievements-list .full-development:after {background:#fff url(../images/bg-full-development.png)  no-repeat 50% 50%;}
.achievements-list .development-office:after {background:#fff url(../images/bg-development-office.png)  no-repeat 50% 50%;}
.achievements-list .headquaters:after {background:#fff url(../images/bg-headquaters.png)  no-repeat 50% 50%;}
.achievements-list strong {
    font-weight: normal;
    display: block;
    color: #333;
}
.content-holder {
    width: 960px;
    margin: 0 auto;
}
.services {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #8ed16c;
    padding: 30px 0 0;
}
.services .title-block {
    float: left;
    width: 210px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}
.services h1 {
    font-size: 36px;
    line-height: 38px;
    color: #666;
    margin: 0 0 20px;
    font-weight: 100;
}
.services .title-block .text {margin: 0 0 58px;}
.services .title-block p {margin: 0 0 22px;}
.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    box-shadow:0 5px 0 #35910d;
    border-radius:3px;
    margin: 0 0 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.23);
    background:#8ed260 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlZDI2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MWE0MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #8ed260 0%, #41a416 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed260), color-stop(100%,#41a416));
    background: -webkit-linear-gradient(top,  #8ed260 0%,#41a416 100%);
    background: -o-linear-gradient(top,  #8ed260 0%,#41a416 100%);
    background: -ms-linear-gradient(top,  #8ed260 0%,#41a416 100%);
    background: linear-gradient(to bottom,  #8ed260 0%,#41a416 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed260', endColorstr='#41a416',GradientType=0 );
}
form .btn {
    width: 177px;
    height: 37px;
    border: none;
    cursor: pointer;
    padding: 0;
}
.btn span {
    padding: 11px 10px 9px;
    min-width: 170px;
    display: block;
}
.btn:hover {text-decoration: none;}
.btn:hover span {background: url(../images/bg-btn.png)  no-repeat 50% 100%;}
.btn:active {
    box-shadow: none;
    margin: 5px 0 0;
}

.services-carousel {
	position: relative;
    float: right;
    width: 750px;
    text-align: center;
}
.services-carousel .mask {
	position: relative;
	overflow: hidden;
	width: 750px;
}
.services-carousel .slideset {
	width: 99999px;
	float: left;
}
.services-carousel .slide {
	width: 230px;
    padding: 0 10px;
	float: left;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.services-carousel h2 {
    color: #333;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 0 33px;
}
.services-carousel h2 mark {
    background: none;
    color: #41a416;
}
.services-carousel .pagination,
.projects-carousel .pagination{
    display: inline-block;
    vertical-align: top;
    margin:0;
    padding:0;
    list-style:none;
}
.services-carousel .pagination li,
.projects-carousel .pagination li{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.services-carousel .pagination a,
.projects-carousel .pagination a{
    display: block;
    width: 50px;
    height: 6px;
    text-indent: -9999px;
    overflow: hidden;
    background: #d2edc4;
}
.services-carousel .pagination .active a,
.projects-carousel .pagination .active a {background: #41a416;}
.company-benefits {
    overflow: hidden;
    position: relative;
}

.company-benefits .bg-frame,
.cooperation-block .bg-frame{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.company-benefits .bg-frame img {position: absolute;}
.company-benefits .text-block {
    position: relative;
    z-index: 1;
}
.company-benefits .text-block {
    width: 960px;
    margin: 0 auto;
    padding: 30px 0 47px;
}
.company-benefits h1 {
    font-size: 36px;
    line-height: 38px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin: 0 0 30px;
}
.benefits-holder {
    width: 100%;
    overflow: hidden;
    padding: 0 0 34px;
}
.benefit-column {
    float: right;
    width: 470px;
}
.benefit-column:first-child {float: left;}
.benefit {
    float: left;
    width: 184px;
    column-gap: 22px;
    background: #333;
    color: #fff;
    border-radius:3px 3px 0 0;
    font-size: 14px;
    line-height: 20px;
    padding: 19px 20px 15px;
    margin: 0 0 20px;
    position: relative;
}
.benefit.development {
    width: 245px;
    padding: 19px 205px 3px 20px;
    background:#333 url(../images/bg-development.png)  no-repeat 100% 100%;
}
.benefit.development:after{
    width: 469px;
    background: url(../images/bg-development-shape.png)  no-repeat;
}
.benefit.communication img {
    display: block;
    margin: 0 auto 14px;
}
.benefit.quality {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    background:#333 url(../images/bg-quality.png)  no-repeat 100% 0;
}
.benefit.quality:after{
    width: 224px;
    background: url(../images/bg-quality-shape.png)  no-repeat;
}
.benefit.quality img {
    margin: 50px auto 2px;
    display: block;
}
.benefit:after {
    content:'';
    width:100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 34px;
}
.benefit.flexibility {padding-bottom: 2px;}
.benefit.flexibility:after {
    background: url(../images/bg-flexibility.png)  no-repeat;
    width:224px;
    height: 27px;
}
.benefit.team {background: url(../images/bg-team.png)  no-repeat;}
.benefit.team p {margin: 0 0 63px;}
.benefit.solutions {background:#333 url(../images/bg-solutions.png)  no-repeat;}
.benefit.solutions img {
    display: block;
    margin: 0 auto 2px;
}
.benefit p {margin: 0 0 3px;}
.align-left {float: left;}
.align-right {float: right;}
.benefit mark {
    background: none;
    color: #70ce42;
}
.btn-meet-team {
    float: right;
    color: #1c7673;
    font-size: 10px;
    line-height: 12px;
    font-weight: 900;
    padding: 5px;
    border-radius:4px;
    border:2px solid #1c7673;
    text-transform: uppercase;
}
.btn-meet-team:hover {text-decoration: none;}
.btn-more {
    background: url(../images/bg-btn-more.png)  no-repeat 100% 50%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding: 0 28px 0 0;
    color: #41a416;
}
.btn-more:hover {text-decoration: none;}
.testimonials-holder {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 34px 0 60px;
}
.testimonials-holder .btn-more {
    position: absolute;
    top: 34px;
    right: 0;
}
.testimonials-holder blockquote {
    float: left;
    width: 290px;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

.testimonials-holder q {
    font-size: 41px;
    line-height: 49px;
    font-weight: 100;
    display: block;
    color: #333;
    padding: 25px 0 5px;
    background: url(../images/bg-blockquote.png)  no-repeat 50% 0;
}
.testimonials-holder cite {
    font-size: 14px;
    font-style: normal;
}
.testimonials-holder mark {
    background: none;
    color: #41a416;
}
.representatives-holder {
    width: 100%;
    overflow: hidden;
    padding: 0 0 50px;
}
.representatives-holder .text {
    width: 420px;
    float: left;
    font-weight: 300;
}
.representatives-holder p {margin: 0 0 22px;}
.office-holder {
    float: right;
    width: 474px;
    border: 5px solid #6dc442;
    background: #fff;
    padding: 20px 0 22px;
}
.office-holder .office {
    float: left;
    position: relative;
    width: 110px;
    padding: 100px 24px 0;
    text-align: center;
}
.office-holder .office.usa {background: url(../images/bg-usa.png)  no-repeat 50% 20px;}
.office-holder .office.israel {background: url(../images/bg-israel.png)  no-repeat 50% 0;}
.office-holder .office.russia {background: url(../images/bg-russia.png)  no-repeat 50% 18px;}
.office-holder .office:after {
    content:'';
    background: #d8d8d8;
    width: 35px;
    height: 1px;
    position: absolute;
    top: 47px;
    left: -16px;
}
.office-holder .office:first-child:after {background: none;}
.office-holder .office .title {
    color: #333;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    display: block;
    margin: 0 0 7px;
}
.office-holder .office address {
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}
#footer:before {
    top: 0;
    height: 1px;
    background: #ccc;
    content: '';
    left: -100%;
    position: absolute;
    right: -100%;
    z-index: -1;
}
#footer:after {
    content:'';
    display:block;
    clear:both;
}
#footer {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 34px 0 45px;
}
.foot-links {
    width: 100%;
    overflow: hidden;
    padding: 0 0 30px;
}
.foot-nav {
    float: left;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 6px 0 0;
}
.foot-nav ul {
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;
}
.foot-nav li {
    float: left;
    margin: 0 30px 0 0;
}
.foot-nav a {color: #46a719;}
.social-networks {
    float: right;
    margin:0;
    padding:0;
    list-style:none;
}
.social-networks li {
    float: left;
    background: url(../images/sprite.png)  no-repeat;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 0 0 9px;
}
.social-networks .twitter {background-position: -146px 0;}
.social-networks .facebook {background-position: -79px 0;}
.social-networks .linkedin {background-position: -113px 0;}
.social-networks a {
    display: block;
    height: 100%;
}
.copy strong {
    display: block;
    margin: 0 0 5px;
}
.copy address {
    color: #999;
    font-style: normal;
}
/*contact page styles*/
.main-title {
    text-align: center;
    padding: 0 0 56px;
    background: url(../images/sep-01.png)  no-repeat 0 100%;
}
.main-title h1 {
    font-size: 76px;
    line-height: 78px;
    font-weight: 100;
    margin: 0 0 15px;
    color: #41a416;
}
.main-title .sub-text {
    font-size: 36px;
    line-height: 38px;
    font-weight: 100;
    color: #333;
}
.contact-holder {
    padding: 15px 0 60px;
    width: 100%;
    overflow: hidden;
}
.contact-form {
    float: left;
    width: 432px;
    padding: 25px 27px 0 0;
}
.row {
    width: 100%;
    overflow: hidden;
    margin: 0 0 27px;
}
.row label {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    display: block;
    margin: 0 0 13px;
    color: #333;
}
.row input[type="text"],
.row input[type="email"] {
    border:2px solid #66cc33;
    border-radius:5px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 13px;
    width: 402px;
    height: 18px;
    background: #fff;
    font-weight: 300;
    box-shadow:inset 0 2px 0 #e5e5e5;
}
.row input[type="text"].error,
.row input[type="email"].error {
    border-color: #f60;
    text-align: right;
    color: #f60;
}
.row textarea {
    border:2px solid #66cc33;
    border-radius:5px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 13px;
    width: 402px;
    background: #fff;
    box-shadow:inset 0 2px 0 #e5e5e5;
    max-width: 402px;
    min-width: 402px;
    min-height: 134px;
}
.send-holder {
    width: 100%;
    overflow: hidden;
}
.send-holder .btn {
    float: left;
    margin: 0 20px 5px 0;
}
.send-holder .btn:active {margin: 5px 20px 5px 0;}
.send-holder .description {
    font-size: 12px;
    line-height: 37px;
    color: #999;
    font-weight: 300;
}
.consult-holder {
    float: left;
    width: 230px;
    margin: 0 9px 0 0;
}
.consult-block {
    margin: 0 0 35px;
    overflow: hidden;
}
.consult-block h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #333;
    margin: 0 0 20px;
}
.featured-list {
    font-size: 12px;
    line-height: 17px;
    margin:0;
    padding:0;
    list-style:none;
}
.featured-list li {
    padding: 0 0 15px 26px;
    background: url(../images/sprite.png)  no-repeat -167px -72px;
}
.featured-list.horizontal li {
    float: left;
    padding: 0 20px 0 26px;
}
.consultant-info {text-align: center;}
.consultant-info img {margin: 0 0 15px;}
.consultant-info .consultant-name {
    font-size: 24px;
    line-height: 26px;
    font-weight: 100;
    color: #46a218;
    display: block;
    margin: 0 0 6px;
}
.consultant-info .position {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    display: block;
    color: #333;
    margin: 0 0 9px;
}
.consultant-info .skype {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 47px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 100;
    background: url(../images/sprite.png)  no-repeat -131px -93px;
    color: #333;
}
.consultant-info .skype:hover {text-decoration: none;}
.contact-holder .office-holder {
    width: 192px;
    float: right;
    padding: 20px;
    text-align: center;
}
.contact-holder .office-holder h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 0 30px;
    color: #41a416;
    text-align: left;
}
.contact-holder .office-holder .office {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 45px;
    text-align: center;
}
.contact-holder .office-holder .office:after {background: none;}
.whitepapers-holder {
    padding: 60px 0 75px;
    background: url(../images/sep-02.png)  no-repeat;
    width: 100%;
    overflow: hidden;
}
.whitepapers-holder h3 {
    float: left;
    font-size: 18px;
    line-height: 24px;
    width: 135px;
    margin: 0;
}
.document-holder {
    float: right;
    width: 703px;
}
.document-holder .document {
    width: 135px;
    float: left;
    margin: 0 0 0 47px;
    padding: 0 0 0 67px;
    background: url(../images/sprite.png)  no-repeat -77px -128px;
}
.document-holder .document:first-child {margin: 0;}
.document-holder .document h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #333;
    margin: 0 0 7px;
}
.document-holder .document time {
    font-size: 12px;
    line-height: 14px;
    color: #999;
    display: block;
    margin: 0 0 20px;
}
.add-nav-holder {
    padding: 50px 0 30px;
    border-bottom: 1px solid #8ed16c;
    width: 100%;
    position: relative;
    z-index: 3;
}
.add-nav-holder:after {
    content:'';
    display:block;
    clear:both;
}
.add-nav {
    float: left;
    line-height: 18px;
    font-weight: 500;
    margin: 22px 0 0;
}
.add-nav ul {
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;
}
.add-nav li {
    float: left;
    margin: 0 27px 0 0;
}
.add-nav a {color: #666;}
.add-nav a:hover {
    color: #41a416;
    text-decoration: none;
}
.add-nav .active a {color: #41a416;}
.add-nav-holder h1 {
    float: right;
    font-size: 76px;
    line-height:78px;
    font-weight: 100;
    margin: 0;
    color: #41a416;
}
.service-holder {
    width: 100%;
    overflow: hidden;
}
.services-section {
    width: 695px;
    float: left;
    padding: 39px 0 45px;
}
.service {
    margin: 0 0 65px;
    width: 100%;
    overflow: hidden;
}
.service .visual {
    float: left;
    width: 350px;
    margin: 0 5px 0 0;
}
.service .visual.align-right {
    float: right;
    margin: 0 0 0 5px;
}
.service .visual img {
    display: block;
    margin: 0 0 25px;
}
.service .btn-holder {text-align: center;}
.service .text {
    overflow: hidden;
    padding: 20px 0 0;
}
.service h2 {
    font-size: 36px;
    line-height: 42px;
    color: #333;
    font-weight: 100;
    margin: 0 0 20px;
}
.service h2 span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-width: 42px;
    text-align: right;
}
.service h2 span:after {
    content:'';
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    border: 4px solid #8ed16c;
    z-index: -1;
}
.service .text p {margin:0;}
.approach-block {
    float: right;
    padding: 40px 20px 40px;
    width: 201px;
    background:#f1fbea url(../images/bg-approach.png)  no-repeat 0 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;

}
.approach-block h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #333;
    margin: 0 0 17px;
}
.approach-block .color-green {color: #3d9d14;}
.approach-block .text-holder {margin: 0 0 48px;}
.description-list {
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;
}
.description-list li {
    padding: 0 0 23px 19px;
    background: url(../images/bg-description-list.png)  no-repeat 0 6px;
}
.request-block {
    width: 100%;
    background: #fafafa;
    position: relative;
    padding: 44px 0 35px;
}
.request-block:after {
    content:'';
    display:block;
    clear:both;
}
.request-block:before {
    background: #fafafa;
    bottom: 0;
    content: '';
    left: -100%;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: -1;
}
.send-request {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.request-block .send-request {margin: 0 20px 0 0;}
.send-request .btn {margin-bottom:20px;}
.send-request .btn:active {margin-bottom: 15px;}
.send-request .sub-text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    font-weight: 300;
}
.request-block h3 {
    color: #333;
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}
.request-block .featured-list {
    display: inline-block;
    vertical-align: middle;
}
.works-slideshow {
    position: relative;
    padding: 48px 0 60px;
}
.works-slideshow .slideset {
    position: relative;
    overflow: hidden;
}
.works-slideshow .slide {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.works-slideshow .slide.active {
    z-index: 2;
}
.works-slideshow .text-holder {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0 20px 0 0;
    font-size: 12px;
    line-height: 18px;
    width: 140px;
}
.works-slideshow .text-holder h2 {
    font-size: 18px;
    line-height: 20px;
    color: #333;
    font-weight: 500;
    margin: 0 0 20px;
}
.works-slideshow .text-holder p {margin: 0 0 20px;}
.works-slideshow .features-list {
    padding:0;
    list-style:none;
    margin: 0 -20px 0 0;
    color: #333;
    font-size: 12px;
    line-height: 14px;
}
.works-slideshow .features-list li {
    padding: 0 20px 20px 0;
    background: url(../images/bg-description-list.png)  no-repeat 100% 6px;
}
.works-slideshow .btn-next,
.works-slideshow .btn-prev {
    position: absolute;
    bottom: 125px;
    left: 0;
    background: url(../images/sprite.png)  no-repeat;
    width: 17px;
    height: 17px;
    text-indent: -9999px;
    overflow: hidden;
}
.works-slideshow .btn-next {
    right: 0;
    left: auto;
    background-position: -20px 0;
}
.works-slideshow .sub-title-block {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.works-slideshow .sub-title-block h3 {
    font-size: 36px;
    line-height: 38px;
    font-weight: 100;
    color: #333;
    margin: 0 0 13px;
}
.works-slideshow .sub-title-block mark {
    color: #42a517;
    background: none;
}
.works-carousel .sub-title-block p {margin: 0;}
.development-nav {position: relative;}
.development-nav:after {
    content:'';
    width: 46px;
    height: 46px;
    position: absolute;
    top: 10px;
    left: 0;
    border: 2px solid #41a416;
    border-radius:50%;
}
.development-nav .opener {
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 0;
    border-radius:50%;
    width: 50px;
    height: 50px;
    background: url(../images/sprite.png)  no-repeat 15px -30px;
    z-index: 4;
}
.development-nav .slide-list {
    margin:0;
    padding:0;
    list-style:none;
    border-radius:24px 0 0 0;
    background:#424242 url(../images/bg-slide-list.png)  no-repeat 100% 100%;
    position: absolute;
    top: 10px;
    left: 0;
    width: 210px;
    padding: 25px 30px 12px 0;
    text-align: right;
    line-height: 16px;
    z-index: 3;
}
.development-nav .slide-list li {margin: 0 0 13px;}
.development-nav .slide-list a {color: #fff;}
.development-nav .slide-list .active a,
.development-nav .slide-list a:hover {
    color: #41a416;
    text-decoration: none;
}
.service-description {
    width: 100%;
    overflow: hidden;
    padding: 50px 0 55px;
}
.service-description .img-holder {
    float: left;
    margin: 0 50px 0 0;
}
.service-description .mobile-phone {margin: 0 -110px 0 -63px;}
.service-description .text-holder {overflow: hidden;}
.service-description .text-holder p {margin: 0 0 30px;}
.information-box {
    border: 5px solid #6dc442;
    padding: 22px 25px 25px;
    text-align: center;
}
.information-box h2 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 100;
    margin: 0 0 13px;
}
.information-box .column-holder {
    width: 100%;
    overflow: hidden;
}
.information-box .column-holder .column {
    float: right;
    min-width: 115px;
    max-width: 190px;
}
.information-box .column-holder .column:first-child {float: left;}
.information-box h3 {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.information-box .list-holder {
    width: 100%;
    overflow: hidden;
}
.information-box ul {
    margin:0;
    padding:0;
    list-style:none;
}
.information-box .list-holder ul {float: right;}
.information-box .list-holder ul:first-child {float: left;}
.web-services {
    width: 100%;
    overflow:hidden;
}
.web-services h2 {
    font-size: 36px;
    line-height: 38px;
    font-weight: 100;
    color: #333;
    margin: 0 0 30px;
}
.thumbnails-holder {
    width: 100%;
    display:table;
    margin: 0 0 60px;
}
.thumbnail {
    display:table-cell;
    width: 181px;
    padding: 23px 20px 20px;
    font-weight: 300;
    background: #333;
    border-radius:3px;
    color: #fff;
    border-left: 29px solid #fff;
}
.thumbnail:first-child {
    border: none;
}
.thumbnail h3 {
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    margin: 0 0 22px;
    text-align: center;
}
.thumbnail .img-holder {
    height: 75px;
    line-height: 75px;
    text-align: center;
}
.thumbnail .img-holder img {vertical-align: middle;}
.thumbnail .sub-text {
    text-align: right;
    color: #929292;
    font-size: 12px;
    line-height: 18px;
    display: block;
    padding: 12px 0 0;
    border-top: 1px solid #5e5e5e;
}
.advantages-block {
    background:#f1fbea url(../images/bg-advantages-block.png)  no-repeat 0 100%;
    overflow: hidden;
    padding: 30px 35px 35px;
    margin: 0 0 45px;
}
.advantages-block h3 {
    font-size: 36px;
    line-height: 38px;
    color: #333;
    font-weight: 100;
    margin: 0 0 20px -5px;
}
.advantages-block .information-box {
    float: right;
    width: 240px;
    margin: 0 0 0 50px;
}
.projects-block {
    width: 100%;
    overflow: hidden;
}
.projects-block h2 {
    font-size: 36px;
    line-height: 38px;
    margin: 0 0 37px;
    color: #333;
    font-weight: 100;
}

.projects-carousel {
	position: relative;
    text-align: center;
}
.projects-carousel .mask {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.projects-carousel .slideset {
	width: 99999px;
	float: left;
}
.projects-carousel .slide {
	width: 100%;
	float: left;
    text-align: left;
}
.projects-carousel .img-holder {
    float: left;
    margin: 0 15px 0 0;
}
.projects-carousel .text {
    overflow: hidden;
    line-height: 24px;
}
.projects-carousel .project-title {
    overflow: hidden;
    width: 100%;
    margin: 0 0 34px;
}
.projects-carousel h3 {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 300;
    color: #41a416;
    margin: 0;
    float: left;
}
.projects-carousel .btn-more {float: right;}
.projects-carousel p {margin: 0 0 30px;}
.projects-carousel .description-list {margin: 0 0 10px;}
.projects-carousel .description-list li {padding:0 0 0 19px;}
.definition-list {
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.definition-list dt {
    float: left;
    clear: left;
    font-weight: 500;
}
.definition-list dd {
    float: left;
    margin: 0 0 0 12px;
}
.slash-list {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
}
.slash-list li {
    display: inline;
    background: url(../images/bg-slash-list.png) no-repeat 0 50%;
    padding: 0 4px 0 14px;
    
}
.slash-list li:first-child {padding: 0 8px 0 0;}
.projects-carousel .slash-list {font-weight: 500;}
.projects-carousel blockquote {
    margin: 0;
    padding: 35px 0 0;
    background: url(../images/bg-blockquote.jpg)  no-repeat 50% 0;
    text-align: right;
}
.projects-carousel q {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #adadad;
    display: block;
    margin: 0 0 20px;
}
.projects-carousel cite {font-style: normal;}
.projects-carousel cite span {color: #41a416;}
.cooperation-block {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.cooperation-block .text-block {
    overflow: hidden;
    padding: 30px 0;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.cooperation-block h2 {
    font-size: 36px;
    line-height: 38px;
    color: #fff;
    font-weight: 100;
    margin: 0 0 25px;
}
.cooperation-block .text-block p {margin: 0 0 35px;}
.cooperation-block .columns-holder {
    width: 100%;
    overflow: hidden;
    text-align: left;
}
.cooperation-block .column {
    float: left;
    margin: 0 0 0 70px;
    width: 273px;
    font-size: 14px;
    line-height: 20px;
}
.cooperation-block .column:first-child {margin: 0;}
.cooperation-block .column h3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 30px;
}
.apps-services {
    width: 100%;
    overflow: hidden;
    background: url(../images/bg-apps-services.jpg)  no-repeat 293px 100px;
    min-height: 320px;
    position: relative;
    margin: 0 0 58px;
}
.apps-services .block {
    text-align: right;
    position: absolute;
}
.apps-services .block p {margin: 0;}
.apps-services .native {
    background: url(../images/bg-native.jpg)  no-repeat;
    text-align: center;
    min-height: 70px;
    padding: 48px 0 0 84px;
    width: 215px;
    top: 0;
    right: 0;
}
.apps-services .hybrid {
    background: url(../images/bg-hybrid.jpg)  no-repeat;
    padding: 56px 0 0;
    width: 340px;
    top: 129px;
    left: 336px;
}
.apps-services .cross-platform {
    background: url(../images/bg-cross-platform.jpg)  no-repeat;
    padding: 58px 0 0;
    width: 240px;
    bottom: 0;
    left: 0;
}
.not-found-holder {
    padding: 96px 0 96px;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
.not-found-holder .logo {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 158px;
}
.not-found-block {
    padding: 230px 0 0;
    background: url(../images/bg-not-found.png)  no-repeat 50% 0;
    font-size: 12px;
    line-height: 18px;
}
.not-found-block h1 {
    color: #333;
    font-weight: 100;
    font-size: 36px;
    line-height: 38px;
    margin: 0 0 20px;
}
.design-services {
    background: url(../images/sep-02.png)  no-repeat 50% 0;
    padding: 55px 0;
    line-height: 24px;
    position: relative;
    margin: 0 0 60px;
}
.design-services:after {
    content:'';
    background: url(../images/sep-01.png)  no-repeat;
    width: 952px;
    height: 36px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.design-services .text {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}
.design-services h2 {
    font-size: 36px;
    line-height: 38px;
    color: #333;
    font-weight: 100;
    margin: 0 0 30px;
}
.design-service-list:after {
    content:'';
    display:block;
    clear:both;
}
.design-service-list {
    margin:0;
    padding:0;
    list-style:none;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.design-service-list li {
    display: inline-block;
    vertical-align: top;
    padding: 67px 45px 0;
}
.design-service-list.add li {padding-top: 98px;}
.design-service-list .broshures {background: url(../images/bg-broshures.png)  no-repeat 50% 0;}
.design-service-list .user-interface {
    background: url(../images/bg-ui.png)  no-repeat 50% 0;
    margin-top: 63px;
}
.design-service-list .web-design {
    background: url(../images/bg-web-design.png)  no-repeat 50% 0;
    margin-top:75px;
}
.design-service-list .logotypes {
    background: url(../images/bg-logotypes.png)  no-repeat 50% 0;
    margin-top: 63px;
}
.design-service-list .identity {background: url(../images/bg-identity.png)  no-repeat 50% 0;}
.design-service-list .seo {
    background: url(../images/bg-seo.png)  no-repeat 50% 0;
    margin-top: -85px;
}
.design-service-list .smm {
    background: url(../images/bg-smm.png)  no-repeat 50% 0;
    margin-top: 30px;
}
.design-service-list .ppc {
    background: url(../images/bg-ppc.png)  no-repeat 50% 0;
    margin-top: 45px;
}
.design-service-list .link-building {
    background: url(../images/bg-link-building.png)  no-repeat 50% 0;
    margin-top: 30px;
}
.design-service-list .reputation {
    background: url(../images/bg-reputation.png)  no-repeat 50% 0;
    margin-top: -85px;
}
.information-box .requirement-list {
    margin:0;
    padding:0;
    list-style:none;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
}
.information-box .requirement-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0 6px;
}
.information-box .requirement-list.vertical li {
    display: block;
    margin: 0 0 10px;
}
.design-services .text-cloud {
    background: url(../images/bg-text-cloud.jpg)  no-repeat 50% 0;
    min-height: 111px;
    padding: 125px 0;
}
.design-services .text-cloud .text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 100;
    color: #333;
}
.design-services .text-cloud p {margin: 0;}
.seo-inform-box {
    width: 480px;
    height: 182px;
    background: url(../images/bg-seo-infrorm-box.jpg)  no-repeat;
    text-align: center;
    white-space:nowrap;
}
.seo-inform-box:after {
    content:'';
    display:inline-block;
    height:100%;
    width:1px;
    overflow:hidden;
    margin:0 0 0 -1px;
    vertical-align:middle;
}
.seo-inform-box .title {
    vertical-align:middle;
    display:inline-block;
    white-space:normal;
    font-size: 40px;
    line-height: 55px;
    font-weight: 100;
}
.seo-inform-box mark {
    color: #41a416;
    background: none;
}
.seo-inform-box span {
    display: block;
    font-size: 55px;
    text-transform: uppercase;
}